<button class='btn btn-primary display-btn display-btn-xs'>menu</button>
<div class='container-fluid'>
  <div class="row display-row-height">
    <div class="col-sm-4 col-md-3 border-sidenav display-none-xs ">
      <div class='display-menu'>
        <button class='btn btn btn-outline-secondary' routerLink='/marcopolo' routerLinkActive='active'>Marco Polo Test</button>
        <button class='btn btn btn-outline-secondary' routerLink='/userstoryone' routerLinkActive='active'>User Story 1 Test</button>
        <button class='btn btn btn-outline-secondary' routerLink='/userstorytwo' routerLinkActive='active'>User Story 2 Test</button>
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <div class='margin-30'>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

